.text{
    
    font-size: 4rem;
    border: 3px #000000 solid;
    padding: 2rem
;
    margin: 4rem
;
    font-style: italic;
    color: gray;

;
}
/* 
.duo{
    width: 100%;
    
} */

.main2{
    /* height: 2rem; */
    color:white;
    display:flex;
    background-color: transparent;
    width: 100%;
    position: fixed;
    overflow: hidden;
    
}

.wid{width: 100%;}

.melt{
    /* height: 100vh; */
    width: 100%;
    overflow: hidden;
    /* position: relative; */
}

.commonz{
    font-size: 1rem;
    color:rgb(255, 255, 255);
    background-color: #000000a8;
    /* border: 1px white solid; */
    font-family: Helvetica,Arial,sans-serif;
    font-weight: bold;
    /* cursor:pointer; */
    /* width: 100%; */
    padding:1.2rem; 

flex-grow: 1;
}
.textLogo{
    font-family: 'Festive', cursive;
    margin-top: 1.8rem;
}

.uno{
    /* width:150%; */
    padding:0;
    margin:0;
    display:flex;
   
    /* width:90%; */

}


.cousesText{

    text-align: center;
    padding:4rem;
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.cousesParagraph{
    margin-bottom: 2rem;
}

.states{
  
}

.dropdown-toggle{
    background-color: #00000000!important;
    text-align: center;
    border:none;
}

.textOnP{
    position: absolute;
    top: 150px
;
    left: 8%;
    padding: 6rem
;
    width: 31rem
;
    color: white;
    background-color: rgba(0, 0, 0, 0.342);
    border-radius: 2rem;
}

.dos,.tres,.quatro,.chinque{
    cursor:pointer;

}
.textAut{
    font-size: 1rem;
    text-align: end;
    color: cornflowerblue;
}
.paragraph{
    padding: 2rem
    ;
        margin-left: 3rem
    ;
        margin-right: 4rem
    ;
        font-size: 2rem;
}


.paragraphB{
    padding: 2rem
    ;
        margin-left: 3rem
    ;
        margin-right: 4rem
    ;
        font-size: 1.5rem;

        border:2px solid black;

        color:rgba(39, 39, 151, 0.699);
}

.dos:hover,.tres:hover,.quatro:hover,.chinque:hover{
    color:cornflowerblue;
}

.greenA{
    /* background-color: green; */
   height: 3rem
;
    margin: 1rem
;

}

.drop{
  
    background-color: #000000a8!important;
}
@media screen and (max-width: 650px) {
.main2{
    overflow: visible;
    width: 60%;
    background-color: #000000a8;
    align-items: center;
}

.commonz{background-color: transparent;}

}