body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.half{width: 50%;
background-color: black;
  }

.half2{width: 50%;

  font-size: 1.2rem;
  width: 50%;
  /* background-image: linear-gradient(to right, #2c2c2c , white); */
  background-color: white;
  text-align: center;
  padding: 4rem;
  color: black;
  
;
}

.fadeMe{

opacity:1;
transition: all 12s;
animation: slideInFromLeft 10s;
position:absolute;
top:0;
width:100%;
}

.slider-parent{
  position:relative;
}

.buble{
  position:absolute;
  color:white;
}

.butHolder{
  display:flex;
  justify-content: space-between;
  padding:0.5rem;
}

.fadeMeIn{

  opacity:0;
  transition: all 12s;
  animation: slideInFromLeft 10s;
  position:absolute;
  top:0;
  width:100%;
  margin-left: 3rem;
  animation-fill-mode: forwards;
  }

  .widi{width:100%;}
  
.numbers{
  width: 100%;
  overflow: hidden;
  display:flex
  
}

.imageE{
  width: 100%;
}

.year{
 
  background-color: black;
  color:white;
}

.stoper{
  width:100%;
  height: 100vh;
  overflow: hidden;
  background-color: black;
}



@keyframes slideInFromLeft {
  0% {
     opacity:0;
  }
  100% {
    opacity:1;
  }
}


.relative{
  position:relative;
  width:100%;
}

.absolute{
  width:100%;
  margin-left: 3rem;
}


.type-writer{

  
}

.middle{
  color: white;
  position: absolute;
  top: 14rem;
  font-size: 2rem;
  font-family: inherit;
  font-weight: bold;
  /* font-size: xx-large; */
  letter-spacing: 0.5rem;
  /* transition: all 1s; */
  left:3rem;
}

.ok{

  opacity:0;
  animation: opa 7s;
  animation-fill-mode: forwards;
}

@keyframes opa{

0% {opacity:0;}

80%{opacity:0}
100%{opacity:1;}

}

.empty{
  height: 210rem;
}


.scroling{

  /* height: 120vh; */
  background-color: whitesmoke;
 

  padding:3rem;
}

.info{
  height:4rem;
  width:100%;
  background-color: #2b2b2b;
  position:relative;
  display:flex;
}



.small{
color:white;
width:25%;
border:solid 1px black;
display:flex;
align-items: center;
justify-content: start;


}

.smaller1{
  color:white;
  width:70%;
 
  
  }

  .smallerIMG{
    color:white;
    width:17%;
   
    
    }


    @media screen and (max-width: 900px) {
      .smallerIMG {
     display:none
      }
    }

    .smallerIMG2{
      color:white;
      width:100%;
     
      
      }

  .smaller2{
    color:red;
    width:25%;
  font-size: 1.5rem;
    
    }


    .smaller3{
      color:white;
      width:25%;
      font-size: 0.5rem;
      
      }

.scroling2{
  display:flex;
  justify-content: space-between;
  /* transition: all 2s; */
}

.common{
  width:30%;
  /* height: 60vh; */
  /* margin-top:15rem; */
  padding: 2rem;
  background-color: white;

  border-radius: 5px;
  /* box-shadow: 12px 10px 10px #888888; */
  /* transition: all 2s; */
}


.first{
  border:solid 1px green;
  color:darkgreen;
cursor:pointer;
box-shadow: 12px 10px 10px #888888;
}



.first2{

  border:solid 1px black;
  color:white;
  cursor:pointer; 
  background-color: #15b830;
  transition: all 2s;
  
}

.second{

  border:solid 1px red;
  color:darkred;
  cursor:pointer;
  box-shadow: 12px 10px 10px #888888;
}

.third{

  border:solid 1px blue;
  color:darkblue;
  cursor:pointer; 
  box-shadow: 12px 10px 10px #888888;
  transition: all 2s;
  
}

.third2{

  border:solid 1px black;
  color:white;
  cursor:pointer; 
  background-color: #5145cb;
  transition: all 2s;
  
}

.brline{
  font-family: 'IBM Plex Serif', serif;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 13px;
}

.fonts{

  font-family: 'IBM Plex Serif', serif;
  
  font-weight: bolder;

  font-style: oblique;
  font-variant: small-caps;

}


.fonts2{

  font-family: 'IBM Plex Serif', serif;
  
  font-weight: bolder;

  font-style: oblique;
  font-variant: small-caps;
font-size: larger;

    color: white;
}


@media screen and (max-width: 1200px) {
  .stoper {
    width:100%;
    height: 47vh;
    overflow: hidden;
    background-color: black;
  }

  .half{
    width:100%
  }
  .half2{
    width:100%
  }
  .numbers{
    flex-direction: column;
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
 .info{
  height: unset;
  width:100%;
  background-color: #2b2b2b;
  position:relative;
  display:flex;
  align-items: center;
 }
 .small {
  flex-direction: column;
  border:none;
 }

 .smaller2{

  width: unset;
 }

 .scroling2{
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
 }
 .fonts{
 
  font-size: 1.2rem;
 }
 .middle{
  
    top:34%;
    left: 50%;
    margin-left: -7rem;
   }
 .common{
  margin-bottom: 1rem;
  width: 57%;
 }

.type-writer{margin-bottom: 0;
font-size:1.5rem;}
.ok{margin-bottom:1rem}


.stoper {

  height: 58vh;

}

.relative{

  margin-left: 2rem
;
}

.dRelative{

  margin-left: 0rem !important
;
}
}


@media screen and (min-width: 2000px) {
  .info{
   height: 7rem;

  }
  .stoper {

    height: unset;
  
  }

  .relative{
    margin-left: -5rem
    ;

  }

  .middle{
    font-size: 6rem;
  }

.ok{font-size: 6rem !important ;}


.smaller1{
  font-size: 2rem;
}
.smaller2{
  font-size: 2rem;
}
.smaller3{
  font-size: 1rem;
}

.fonts{
  font-size: 5rem;
}
}